@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";
@import "./variable.scss";

.hero {
  color : $primary-color;
  img {
    padding-bottom: 20px;
  }
  a {
    padding-right: 10px;
  }
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.searchEntry {
  border: 1px black solid;
  margin: 5px;
  cursor: pointer;
}