@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";
@import "./variable.scss";

.hero {
  color : $primary-color;
  img {
    padding-bottom: 20px;
  }
  a {
    padding-right: 10px;
  }
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.searchEntry {
  margin: 5px;
}
.starsInfoTable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  th {
    background-color: #5b5b5b;
    color: white;
    padding: 7px 12px;
  }
  td {
    padding: 1px 12px;
  }
  tr:nth-child(even) {
    background-color: #e5e5e5;
  }
}

.searchTools {
  border: 1px solid gray;
  padding: 20px 0 20px 20px;
  border-radius: 10px;

  h4 {
    margin-bottom: 20px;
  }
  .form-inline {
    margin-bottom: 15px;

    .form-group {
      margin: 7px 0;
  
      label {
        margin-right: 10px;
      }
    }
  }  
}

.active-link {
  color: gray!important;
}
.starDetails {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

.image {
  width:100%;
}